a {
  text-decoration: none;
  color: $secondary-text-light;
  &:visited {
    color: $secondary-text-light;
  }
}
* {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

svg {
  width: 100%;
  height: 100%;
}
