.related {
  position: relative;
  background-color: $mid;
  padding-bottom: 50px;
  margin-top: 70px;
  color: $primary-text-light;
  z-index: 0;

  &__content {
    z-index: 1;
  }

  &__img {
    width: 100%;
  }
  &__article {
    margin-top: 50px;
  }
  &::before {
    content: '';
    position: absolute;
    display: block;
    background-image: url('../assets/relatedTop.svg');
    background-size: 100% 50px;
    width: 100%;
    height: 50px;
    left: 0;
    right: 0;
    top: -45px;
    padding: none;
    z-index: -1;
  }

  &__polygon {
    &1 {
      position: absolute;
      top: -100px;
      right: 0;
      width: 25vw;
      z-index: -1;
    }
    &2 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 35vw;
      z-index: -1;
    }
  }
}
