.about {
  padding: 20px 5vw 20px 5vw;
  color: $primary-text-light;
  position: relative;

  &__title {
    font-size: 10vmin;
    margin-bottom: 40px;
  }
  &__text {
    line-height: 5.5vmin;
    font-size: 4vmin;
  }
  &__background {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
  }
  &__rect {
    width: 100%;
    height: 100%;
    background: $mid;
  }
  &__flow {
    width: 100%;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    // display: none;
  }
  &__polygon {
    position: absolute;
    right: 0;
    bottom: -30vmin;
    z-index: -1;
    width: 35vmin;
  }
}
